POSTGRES_CONNECTION_STRING=

# Block before the first claim period (i.e. 7th March 2024)
# START_BLOCK=603256
START_BLOCK=1058864
STREAM_URL=https://mainnet.starknet.a5a.ch

# Dev only
# https://www.apibara.com/docs/indexers/persistence#file-system-persistence
# PERSIST_TO_FS=

# Production only
# https://www.apibara.com/docs/indexers/persistence#redis
PERSIST_TO_REDIS=


AUTH_TOKEN=
DNA_TOKEN=

## For fetch-lst-price script only
RPC_URL=
# Assuming tBTC is the oldest deployed
STARTING_BLOCK_LST=1359445
# Number of batches of 1000 you wanna process
NUM_BATCHES=2
